<div class = "container-fluid">
  <div class = "row">
    <div class = "main-left col-md-4">
      <div class="members">

      </div>
    </div>
    <div class = "main-center col-md-4">
      <div class="group">
        
        <h2><%= @group.name %></h2>
      </div>
  </div>
</div>
