<div class="container">
  <div class="row">
    <div class="title col-md-12">
      <%= @project.title %> by <%= @founder.name %>
    </div>
    <div class="col-md-12">
      <%= @project.content %>
    </div>
    <div class="number">
      人数:<%= @project.required_number %>人
    </div>
  </div>
</div>
