<div class="main make-group">
  <div class="container">
    <h2>新規投稿</h2>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag group_posts_path,:method=>:post do%>
         <div class="field">
          <%= text_area_tag :body %>
         </div>
          <%= submit_tag "投稿" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
