// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
// #------------------------------------------------------------------------------

.user-center {
  text-align: center;
}
.user {
  border-radius: 40%;
  position: absolute;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.main{
  display: flex;
  justify-content:center;
  align-items:center;
}
.user_profile{
  clear:both;
}
.sub-message{
  clear:both;
}
.btn{

  color: white;
}
.profile_tag ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile_tag  ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.profile_tag ul li a {
  position: relative;
  display: inline-block;
  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 2.5em 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.profile_tag li span {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #3498db;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
}
.profile_tag ul li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}
.profile_tag ul li a:hover span {
  background-color: #fff;
  color: #3498db;
}
//＃ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.university_tag ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.university_tag  ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.university_tag ul li a {
  position: relative;
  display: inline-block;
  max-width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 0 2.5em 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 17px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.university_tag li span {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #3498db;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
}
.university_tag ul li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}
.university_tag ul li a:hover span {
  background-color: #fff;
  color: #3498db;
}
