<div class="main top-main">

 <div class="top-message">
   <h1>Welcome to UTGathering</h1>

 </div>
 <div　class="sub-message">
   <h3>Get connected with other students with common views & values.</h3>
   <h3>Students of "Todai",be united, be one.</h3>

 </div>
